@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: rgba(255, 255, 255, 0);
  --foreground-color: black;
  --gradient-background: linear-gradient(to right, #ffffff, #e0e6ff, #d3dbfe);
  --accent-color: #6a5ec2;
  --accent-foreground-color: white;
}

.dark {
  --background-color: #00000000;
  --gradient-background: linear-gradient(to right, #0f0f0f, #181818, #1b294a);
  --accent-color: #55efc4;
  /* --accent-color: #38c09c;
  --gradient-background: linear-gradient(to right, #0f0f0f, #181818, #a32633); */
  --foreground-color: white;
  --accent-foreground-color: black;
}

body {
  background: var(--gradient-background);
  color: var(--foreground-color);
}

.backdropBlur {
  -webkit-backdrop-filter: blur(64px);
  backdrop-filter: blur(64px);
}

.bg-background {
  background: var(--gradient-background);
}

.text-foreground {
  color: var(--foreground-color);
}

.text-accent-foreground {
  color: var(--accent-foreground-color);
}
